//
//  Created by Aleksey Mikhailov on 08/11/2018.
//  Copyright © 2018 IceRock Development. All rights reserved.
//

#include "debug.xcconfig"
#include "../Pods/Target Support Files/Pods-TestProj/Pods-TestProj.dev-debug.xcconfig"
#include "dev.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.test.dev.debug
